In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from clean_table import import_clean_licences_2012
import dictionnaire_sport

%matplotlib inline

/usr/local/lib/python3.4/dist-packages/matplotlib/backends/backend_gtk3agg.py:18: UserWarning: The Gtk3Agg backend is known to not work on Python 3.x with pycairo. Try installing cairocffi.
  "The Gtk3Agg backend is known to not work on Python 3.x with pycairo. "

In [2]:
path = "/home/colinfrisch/Documents/Colin/licences_2012.csv"

In [3]:
t_licences = import_clean_licences_2012(path)

/home/colinfrisch/Documents/Colin/git/clean_table.py:35: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  t_licences.loc[:, t_licences.columns.isin(starts_with_pop)].convert_objects(convert_numeric=True)

In [38]:
sport_p = {
            "Johan": 108,
            "Christian": 108,
            "Paul": 114,
            "Florian": 106,
            "Emmanuel": 108,
            "Natacha": 119,
            "Michel": 124,
            "Paul-Antoine": 121,
            "Chloé": 219,
            "Marie": 219,
            "GuillaumeT": 248,
            "Romain": 102,
            "Sarah": 105,
            "Mathilde": 219,
            "Clémentine": 402,
            "Clément": 114,
            "Amélie": 109,
            "Philippe": 114,
            "Claire-Marie": 114,
            "Guillaume": 122,
            "Alexis": 222,
            "Viencent": 122,
            "Colin": 124
}

In [5]:
sport = t_licences["fed_2012"] == 103
lol = t_licences.loc[sport][["l_2012_ratio"]]
total = lol["l_2012_ratio"].sum()
total

73.217887805364356

In [6]:
communes_taekwondo = t_licences.loc[t_licences["fed_2012"] == 103][['LIBELLE', 'l_2012_ratio']].sort_values(by="l_2012_ratio", ascending=False)
communes_taekwondo.head(2)

       LIBELLE  l_2012_ratio
543430  SENLIS      0.448276
433909  OLIVET      0.250000

In [7]:
communes_taekwondo.iloc[0,1]

0.44827586206896552

In [8]:
communes_taekwondo.iloc[0,0]

'SENLIS'

# Tableau Prénoms | Sport | Communes_biggest_ratio |  biggest_ratio

In [9]:
sport_p

{'Alexis': 222,
 'Amélie': 109,
 'Chloé': 219,
 'Christian': 108,
 'Claire-Marie': 114,
 'Clément': 114,
 'Clémentine': 402,
 'Colin': 124,
 'Emmanuel': 108,
 'Florian': 106,
 'Guillaume': 122,
 'GuillaumeT': 248,
 'Johan': 108,
 'Marie': 219,
 'Mathilde': 219,
 'Michel': 124,
 'Natacha': 119,
 'Paul': 114,
 'Paul-Antoine': 121,
 'Philippe': 114,
 'Romain-le-pro-du-surf': 253,
 'Sarah': 105,
 'Viencent': 122}

In [10]:
communes_taekwondo = t_licences.loc[t_licences["fed_2012"] == 103][['LIBELLE', 'l_2012_ratio']].sort_values(by="l_2012_ratio", ascending=False)
communes_taekwondo.iloc[0,1]
communes_taekwondo.iloc[0,0]

'SENLIS'

pour chaque valeur dans le dico, 
   - je fais le tableau avec le meilleur ratio et la commune
   - Je prends le meilleur ratio
   - Je prends la commune

In [48]:
import time

In [56]:
l_communes = []
l_ratio = []
for prenom, code_sport in sport_p.items():
    communes_taekwondo = t_licences.loc[t_licences["fed_2012"] == code_sport][['LIBELLE', 'l_2012_ratio', 'pop_2010']].sort_values(by="l_2012_ratio", ascending=False)
    communes_taekwondo = communes_taekwondo.loc[communes_taekwondo["pop_2010"] > 10]
    l_ratio.append(communes_taekwondo.iloc[0,1])
    l_communes.append(communes_taekwondo.iloc[0,0])
    #time.sleep()

In [58]:
l_ratio

[0.25,
 0.46753246753246752,
 0.15064935064935064,
 0.32380952380952382,
 0.12736038569706709,
 0.25,
 0.55263157894736847,
 0.46753246753246752,
 0.97163120567375882,
 0.04663923182441701,
 0.13157894736842105,
 0.12736038569706709,
 0.96324655436447171,
 0.5,
 0.11467889908256881,
 0.5,
 0.25,
 0.51724137931034486,
 0.46753246753246752,
 0.069444444444444448,
 0.12736038569706709,
 0.12736038569706709,
 0.15064935064935064]

In [12]:
sport_p.keys()

dict_keys(['Johan', 'Chloé', 'Colin', 'Sarah', 'Romain-le-pro-du-surf', 'Paul', 'Christian', 'Florian', 'Marie', 'Clémentine', 'Natacha', 'Claire-Marie', 'Paul-Antoine', 'Viencent', 'GuillaumeT', 'Guillaume', 'Emmanuel', 'Amélie', 'Mathilde', 'Alexis', 'Philippe', 'Clément', 'Michel'])

In [61]:
df = pd.DataFrame()
df["Prénoms"] = sport_p.keys()
df["Sports"] = sport_p.values()
df["Communes"] = l_communes
df["Ratio"] = l_ratio
df

         Prénoms  Sports               Communes     Ratio
0          Johan     108                 LAPEGE  0.250000
1          Chloé     219            SAINT-ORENS  0.467532
2          Colin     124               FOURNELS  0.150649
3          Sarah     105   AUBONCOURT-VAUZELLES  0.323810
4           Paul     114          SAINT-NAZAIRE  0.127360
5      Christian     108                 LAPEGE  0.250000
6        Florian     106               MONTAGNE  0.552632
7          Marie     219            SAINT-ORENS  0.467532
8     Clémentine     402                    SOS  0.971631
9         Romain     102       LISSAC-SUR-COUZE  0.046639
10       Natacha     119                 MOLERE  0.131579
11  Claire-Marie     114          SAINT-NAZAIRE  0.127360
12  Paul-Antoine     121        PEISEY-NANCROIX  0.963247
13      Viencent     122                   AVON  0.500000
14    GuillaumeT     248         SERVIES-EN-VAL  0.114679
15     Guillaume     122                   AVON  0.500000
16      Emmanuel     108                 LAPEGE  0.250000
17        Amélie     109  COURCELLES-EN-BARROIS  0.517241
18      Mathilde     219            SAINT-ORENS  0.467532
19        Alexis     222                   AVON  0.069444
20      Philippe     114          SAINT-NAZAIRE  0.127360
21       Clément     114          SAINT-NAZAIRE  0.127360
22        Michel     124               FOURNELS  0.150649