In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from clean_table import import_clean_licences_2012
import dictionnaire_sport

%matplotlib inline

/usr/local/lib/python3.4/dist-packages/matplotlib/backends/backend_gtk3agg.py:18: UserWarning: The Gtk3Agg backend is known to not work on Python 3.x with pycairo. Try installing cairocffi.
  "The Gtk3Agg backend is known to not work on Python 3.x with pycairo. "

In [2]:
path = "/home/colinfrisch/Documents/Colin/licences_2012.csv"

In [3]:
t_licences = import_clean_licences_2012(path)

/home/colinfrisch/Documents/Colin/git/clean_table.py:35: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  t_licences.loc[:, t_licences.columns.isin(starts_with_pop)].convert_objects(convert_numeric=True)

In [5]:
sport_p = {
            "Johan": 108,
            "Christian": 108,
            "Paul": 114,
            "Florian": 106,
            "Emmanuel": 108,
            "Natacha": 119,
            "Michel": 124,
            "Paul-Antoine": 121,
            "Chloé": 219,
            "Marie": 219,
            "GuillaumeT": 248,
            "Romain-le-pro-du-surf": 253,
            "Sarah": 105,
            "Mathilde": 219,
            "Clémentine": 402,
            "Clément": 114,
            "Amélie": 109,
            "Philippe": 114,
            "Claire-Marie": 114,
            "Guillaume": 122,
            "Alexis": 222,
            "Viencent": 122,
            "Colin": 124
}

In [129]:
sport = t_licences["fed_2012"] == 103
lol = t_licences.loc[sport][["l_2012_ratio"]]
total = lol["l_2012_ratio"].sum()
total

73.217887805364356

In [130]:
communes_taekwondo = t_licences.loc[t_licences["fed_2012"] == 103][['LIBELLE', 'l_2012_ratio']].sort_values(by="l_2012_ratio", ascending=False)
communes_taekwondo.head(2)

       LIBELLE  l_2012_ratio
543430  SENLIS      0.448276
433909  OLIVET      0.250000

In [131]:
communes_taekwondo.iloc[0,1]

0.44827586206896552

In [132]:
communes_taekwondo.iloc[0,0]

'SENLIS'

# Tableau Prénoms | Sport | Communes_biggest_ratio |  biggest_ratio

In [133]:
sport_p

{'Alexis': '222',
 'Amélie': '109',
 'Chloé': '219',
 'Christian': '108',
 'Claire-Marie': '114',
 'Clément': '114',
 'Clémentine': '402',
 'Colin': '124',
 'Emmanuel': '108',
 'Florian': '106',
 'Guillaume': '122',
 'GuillaumeT': '248',
 'Johan': '108',
 'Marie': '219',
 'Mathilde': '219',
 'Michel': '124',
 'Natacha': '119',
 'Paul': '114',
 'Paul-Antoine': '121',
 'Philippe': '114',
 'Romain-le-pro-du-surf': '253',
 'Sarah': '105',
 'Viencent': '122'}

In [134]:
communes_taekwondo = t_licences.loc[t_licences["fed_2012"] == 103][['LIBELLE', 'l_2012_ratio']].sort_values(by="l_2012_ratio", ascending=False)
communes_taekwondo.iloc[0,1]
communes_taekwondo.iloc[0,0]

'SENLIS'

pour chaque valeur dans le dico, 
    je fais le tableau avec le meilleur ratio et la commune
    Je prends le meilleur ratio
    Je prends la commune

In [7]:
for code_sport in sport_p.values():
    communes_taekwondo = t_licences.loc[t_licences["fed_2012"] == code_sport][['LIBELLE', 'l_2012_ratio']].sort_values(by="l_2012_ratio", ascending=False)
    communes_taekwondo.iloc[0,1]
    communes_taekwondo.iloc[0,0]

IndexError: single positional indexer is out-of-bounds

# Comment fonctionne un dataframe

In [136]:
sport_p.keys()

dict_keys(['Chloé', 'Emmanuel', 'Claire-Marie', 'Alexis', 'Guillaume', 'Mathilde', 'Paul', 'Amélie', 'Natacha', 'Colin', 'Philippe', 'Viencent', 'GuillaumeT', 'Johan', 'Paul-Antoine', 'Michel', 'Marie', 'Romain-le-pro-du-surf', 'Florian', 'Clémentine', 'Sarah', 'Clément', 'Christian'])

In [137]:
df = pd.DataFrame()
df["Prénoms"] = sport_p.keys()
df["Sports"] = sport_p.values()
df

                  Prénoms Sports
0                   Chloé    219
1                Emmanuel    108
2            Claire-Marie    114
3                  Alexis    222
4               Guillaume    122
5                Mathilde    219
6                    Paul    114
7                  Amélie    109
8                 Natacha    119
9                   Colin    124
10               Philippe    114
11               Viencent    122
12             GuillaumeT    248
13                  Johan    108
14           Paul-Antoine    121
15                 Michel    124
16                  Marie    219
17  Romain-le-pro-du-surf    253
18                Florian    106
19             Clémentine    402
20                  Sarah    105
21                Clément    114
22              Christian    108